<section data-ng-controller="StocksController">
    <div class="page-header">
        <h1>Nuevo Stock</h1>
    </div>
    <div class="col-lg-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset class="row">
                    <!-- Stock -->
                    <div class="form-group col-lg-4">
                        <h4>Detalles del stock</h4>

                        <label class="control-label" for="Name">Nombre</label>
                        <div class="row">
                            <div class="controls col-md-8">
                                <input type="text" data-ng-model="name" id="name" class="form-control" ng-class="" placeholder="Identificador del stock" required>
                            </div>
                        </div>

                        <label class="control-label" for="Estilo">Fecha</label>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    datepicker-popup="dd-MMMM-yyyy"
                                    ng-model="stockDate"
                                    is-open="opened"
                                    date-disabled="disabled(date, mode)"
                                    ng-required="true"
                                    close-text="Close"
                                />

                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>

                        <label for="Detalles" class="control-label">Detalles</label>
                        <p class="input-group">
                            <textarea data-ng-model="details" name="details" id="details" cols="80" rows="10" class="form-control" placeholder="Detalles del stock"></textarea>
                        </p>
                    </div>


                    <!-- Items -->
                    <div class="form-group col-lg-6 col-lg-offset-3">
                        <h4>Stock</h4>

                        <label class="control-label" for="Marca">Marca</label>
                        <div class="form-group">
                            <div class="btn-group">
                                <label class="btn btn-primary btn-sm" ng-model="brand" btn-radio="'Beagle'">Beagle</label>
                                <label class="btn btn-primary btn-sm" ng-model="brand" btn-radio="'Cape Horn'">Cape Horn</label>
                            </div>

                            <label class="control-label" for="Estilo">Estilo</label>
                            <div class="">
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="style" btn-radio="'Rubia'">Rubia</label>
                                    <label class="btn btn-primary" ng-model="style" btn-radio="'Negra'">Negra</label>
                                    <label class="btn btn-primary" ng-model="style" btn-radio="'Roja'">Roja</label>
                                </div>
                            </div>
                        </div>

                        <label class="control-label" for="Cantidad">Cantidad</label>
                        <div class="row">
                            <div class="controls col-md-12">
                                <input type="text" data-ng-model="amount" id="name" class="form-control" placeholder="Cantidad de cajas" required>
                            </div>
                        </div>

                        <div class="row " style="margin-top: 20px;">
                            <span class="col-md-6">
                                <a class="controls btn btn-primary btn-sm" ng-click="createStockItem()">Agregar item <i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                        </div>

                        <hr>

                        <table class="table table-stripped">
                            <tr>
                                <th>Marca</th>
                                <th>Estilo</th>
                                <th>Cantidad</th>
                            </tr>
                            <tr ng-repeat="item in stockItems">
                                <td>
                                    {{ item.brand }}
                                </td>
                                <td>
                                    {{ item.style }}
                                </td>
                                <td>
                                    {{ item.amount }}
                                </td>
                            </tr>
                        </table>
                    </div>

                <div class="form-group col-lg-12">
                    <input type="submit" class="btn btn-default" value="Crear">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>